<div
  class="relative w-3/4 mx-auto h-[80vh] my-32  overflow-hidden "
  style="background-image: url('/images/backGrounds/commissions.png'); background-size: cover; background-position: center;"
>

  <div class="absolute inset-0 bg-black/50"></div>

  <!-- content -->
  <div class="relative z-10 flex items-center justify-center h-full text-center text-black px-6">
    <div class="max-w-2xl ">
      <section class="bg-[#EBE7E1] py-2 px-12 my-14">
  <div class="max-w-2xl mx-auto text-center">

    <!-- Title -->
    <h2 class="text-3xl font-serif font-semibold tracking-wide mb-4">
      COMMISSIONS
    </h2>


    <p class="text-lg mb-1">
      We Are Now Open For Customized Jewelry!!
    </p>
    <p class="text-sm text-gray-600 mb-10">
      We will send you an email for an appointment at our official office
    </p>

    <!-- Form -->
    <form class="space-y-6">
      <input
        type="email"
        placeholder="Email"
        class="w-full bg-white px-4 py-3 text-sm border border-gray-300 focus:outline-none focus:ring-1 focus:ring-[#0F4C45]"
      />

      <textarea
        rows="6"
        placeholder="Message containing the details of your desired collection"
        class="w-full bg-white px-4 py-3 text-sm border border-gray-300 resize-none focus:outline-none focus:ring-1 focus:ring-[#0F4C45]"
      ></textarea>

      <button
        type="submit"
        class="mt-6 bg-[#074D4D] text-white px-10 py-3 text-sm tracking-widest hover:bg-[#0c3f39] transition"
      >
        SEND
      </button>
    </form>

  </div>
</section>

    </div>
  </div>
</div>
