<footer class="w-full bg-[#074D4D] text-white text-lg font-[Montserrat]">

  <div class="footer sm:footer-horizontal p-10">

    <aside>
      <p class="text-6xl font-bold mb-5">CLIO</p>

      <div class="flex mb-2">
        <!-- icon -->
        <a class="link link-hover">+1 (555) 123-4567</a>
      </div>

      <div class="flex mb-2">
        <!-- icon -->
        <a class="link link-hover">info@cliogems.com</a>
      </div>

      <div class="flex">
        <!-- icon -->
        <a class="link link-hover">
          123 Diamond Street, Luxe City, Jewelania
        </a>
      </div>
    </aside>

    <nav>
      <a class="footer-title">HOME</a>
      <a class="link link-hover">Best Seller</a>
      <a class="link link-hover">New Collection</a>
      <a class="link link-hover">Commisions</a>
    </nav>

    <nav>
      <a class="footer-title">SHOPPING</a>
      <a class="link link-hover">Rings</a>
      <a class="link link-hover">Earings</a>
      <a class="link link-hover">Pracelets</a>
      <a class="link link-hover">Necklace</a>
      <a class="link link-hover">Watches</a>
    </nav>

    <nav>
      <h6 class="footer-title">About</h6>
      <a class="link link-hover">Company</a>
      <a class="link link-hover">Staff</a>
      <a class="link link-hover">Privacy Policy</a>
    </nav>

  </div>

  <!-- copyright -->
  <div class="text-center py-4">
    <p>© All copy rights reserved for Clio Company</p>
  </div>

</footer>
