<div
  class="hero min-h-screen font-[Vultura] mb-14 relative"
  style="background-image: url(/images/HomeHero.png);"
>
  <div class="hero-content text-neutral-content text-center">
    <div>
      <h1 class="mb-5 text-7xl font-bold w-full">
        LET YOUR JEWELRY<br />
        SHINES LIKE YOU
      </h1>
      <p class="mb-5 text-lg">
        With a huge collection of unique jewelry, choose yours and what presents you.
      </p>
      <button
        class="btn btn-outline rounded-none hover:bg-white hover:text-cyan-900 px-6 shadow-none"
      >
        Shop Now
      </button>
    </div>
  </div>

  <!-- logo inside hero -->
  <img
    src="/images/logo/GoldenLogo.png"
    alt="Golden logo"
    class="absolute bottom-6 right-6 w-36"
  />
</div>
